### https://raw.github.com/github/gitignore/8edb8a95c4c4b3dce71a378aaaf89275510b9cef/Node.gitignore
**/*/sw.*
sw.*
*.csv

# Scrap folders
**/scrap

# Dependency directories
**/node_modules

# Typescript v1 declaration files
typings/
